.container{
    width: 70%;
    margin: auto;
}


.imm-logo{
    background-image: url('img/pattern.png');
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
    color: white;
    background-size: 300px; 
    position: relative;
    
}

.logo{
    width: 200px;
    position: absolute;
    top: 30%;
    left: 0;
}




#dati-autore{
    color:grey;
    line-height: 0.8;
}

a{
    text-decoration: none;
}

#data{
    font-size:0.6em;
}

.descrizione{
    line-height: 0.2;
}

.lorem{
    margin-top: 30px;
}

.colored-text{
    background-color: yello;
}

.elenco{
    padding: 10px;
    margin: 0;
}

table{
    width: 100%;
    text-align: left;
    margin: 0;
    border-collapse: collapse;
    
}

thead{
    background-color: dodgerblue;
    color:white

}

.lightblue{
    background-color: cyan;
}

}

.prima-riga, .seconda-riga{
    width: 25%;
}


.terza-riga{
    width: 50%
}

h3{
    color: grey;
}

.monitor, .graph{
    position: relative;
}

.in-text{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: white;
    padding: 15px;
}
