.container{
    width: 75%;
    margin: auto;
}


.imm-logo{
    background-image: url('img/pattern.png');
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
    color: white;
    background-size: 300px; 
    position: relative;
}


#booleaner{
    font-size: 40px;
}


#dati-autore{
    color:grey;
}

a{
    text-decoration: none;
}

#data{
    font-size:0.6em;
}